{% extends "layout.html" %}

{% block head%}
<title>Sobre</title>

{% endblock %}

{% block content %}
<div id="wrapper">
    <img src="https://jpimg.com.br/uploads/2019/04/james-williams-chris.jpg" alt="Testando">
    <h1>Cris Rock</h1>
    <h2>Ator</h2>
    <p>Todo mundo odeia o Chris. <a href="https://globoplay.globo.com/todo-mundo-odeia-o-chris/t/tDyxRKNSFp/"
            target="_blank">Assista no Globo play </a> </p>
    <!-- target="_blank abri uma nova guia -->
</div>

<div id="links-footer" class="links">
    <!-- a links -->
    <a href="https://github.com/WesleyHs" target="_blank">Github</a>
    <a href="https://twitter.com/login?lang=pt" target="_blank">Twitter</a>
    <a href="www.linkedin.com" target="_blank">Linkedin</a>
</div>

{% endblock %}